@model FloviaRestaurant.Models.ViewModels.MenuMultiModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int i = 0;
}

<h2>Index</h2>

<div class="card">
    <div class="card-body">

        <h5 class="card-title">Menu Table</h5>

        <!-- Default Table -->
        <a class="btn btn-primary" href="~/AdminMenu/Create">Create</a>
        <table class="table">

            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Price</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col">Food</th>
                    <th scope="col">IsActive</th>
                    <th scope="col">Settings</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Menus.Count == 0)
                {



                    <tr>
                        <td colspan="5">Menu bulunmamaktadır.</td>
                    </tr>
                }
                else
                {
                    foreach (var item in Model.Menus)
                    {
                        i++;
                        <tr>
                            <th scope="row">@i</th>
                            <td>@item.Price</td>
                            <td>@item.StartDate</td>
                            <td>@item.EndDate</td>
                            <td>@item.FoodItem.Name</td>
                            <td>
                                <input type="checkbox" class="form-check-input" checked="@item.IsActive"
                                       value="true" data-val="true" disabled="true" />
                            </td>

                            <td>
                                <a href="~/AdminMenu/Edit/@item.Id" class="ri-edit-box-line "></a>

                                &nbsp;|&nbsp;
                                <a href="~/AdminMenu/Delete/@item.Id" class="ri-delete-bin-6-line"></a>
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>
        <!-- End Default Table Example -->
    </div>
</div>
